<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading ml-panel-heading">
            <h2 class="panel-title">Contact Form</h2>
        </div>
        <div class="panel-body">
            <form name="contactform" role="form" class="form-horizontal" data-toggle="validator">

                <div class="form-group has-feedback" ng-class="{ 'has-error': contactform.inputName.$invalid && !contactform.inputName.$pristine, 'has-success': !contactform.inputName.$invalid && !contactform.inputName.$pristine }">
                    <label for="inputName" class="col-xs-12 col-sm-12 col-md-2 control-label">Name</label>
                    <div class="col-xs-12 col-sm-12 col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="fa fa-user"></span>
                            </div>
                            <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name"
                                required>
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contactform.inputName.$invalid && !contactform.inputName.$pristine"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!contactform.inputName.$invalid && !contactform.inputName.$pristine"></span>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error': contactform.inputEmail.$invalid && !contactform.inputEmail.$pristine, 'has-success': !contactform.inputEmail.$invalid && !contactform.inputEmail.$pristine }">
                    <label for="inputEmail" class="col-xs-12 col-sm-12 col-md-2 control-label">Email</label>
                    <div class="col-xs-12 col-sm-12 col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="fa fa-envelope"></span>
                            </div>
                            <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email"
                                required/>
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contactform.inputEmail.$invalid && !contactform.inputEmail.$pristine"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!contactform.inputEmail.$invalid && !contactform.inputEmail.$pristine"></span>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error': contactform.inputSubject.$invalid && !contactform.inputSubject.$pristine, 'has-success': !contactform.inputSubject.$invalid && !contactform.inputSubject.$pristine }">
                    <label for="inputSubject" class="col-xs-12 col-sm-12 col-md-2 control-label">Subject</label>
                    <div class="col-xs-12 col-sm-12 col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="fa fa-hashtag"></span>
                            </div>
                            <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message"
                                required/>
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contactform.inputSubject.$invalid && !contactform.inputSubject.$pristine"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!contactform.inputSubject.$invalid && !contactform.inputSubject.$pristine"></span>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error': contactform.inputMessage.$invalid && !contactform.inputMessage.$pristine, 'has-success': !contactform.inputMessage.$invalid && !contactform.inputMessage.$pristine }">
                    <label for="inputMessage" class="col-xs-12 col-sm-12 col-md-2 control-label">Message</label>
                    <div class="col-xs-12 col-sm-12 col-md-10">
                        <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..."
                            required></textarea>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default ml-btn" ng-disabled="contactform.$invalid" ng-click="submitContact()">
                            Send Message
                        </button>
                    </div>
                </div>
            </form>
            <div uib-alert ng-hide="hideMessageContact" class="alert-success" close="dismissMessageContact()">
                <i class="fa fa-check"></i>Message send!!</div>
        </div>
    </div>
</div>